.hero-heading span {
    font-size: 110%;
    color: transparent;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.policy-document h3 {
    margin-top: 2rem;

    font-family: 'marydale', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2rem;
    color: theme('colors.qrmory-purple-500');
}

.policy-document h4 {
    margin-top: 1.25rem;

    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.5rem;

    color: theme('colors.qrmory-purple-800');
}

.policy-document p {
    margin-top: 1rem;
    margin-bottom: 1rem;

    font-size: 1rem;
    line-height: 1.5rem;
}

.control-label {
    margin-bottom: 2rem;
    color: theme('colors.stone.600');
}

.control-input {
    width: 100%;
    max-width: 32rem;

    background-color: transparent;
    border-color: theme('colors.stone.400') !important;

    color: theme('colors.qrmory-purple-800');
    font-weight: bold;

    transition: all 3ms ease;
}

.admin-input {
    border-width: 1px !important;
}

.control-input.short {
    margin-left: 10px;
    max-width: 24rem;
}

.control-input.shorter {
    margin-left: 10px;
    max-width: 18rem;
}

.control-input.shortest {
    margin-left: 10px;
    max-width: 12rem;
}

.control-input:focus {
    background-color: theme('colors.stone.50');
}

input {
    border-width: 0px !important;
    border-bottom-width: 1px !important;
}

.qr-selector.home {
    transition-property: color, background-color !important;
    transition-duration:  0.45s, 0.2s !important;
    transition-timing-function: ease, ease !important;
}

.qr-selector.active {
    background-color: theme('colors.qrmory-purple-800') !important;
    color: white !important;

    box-shadow: 0 12px 20px -5px theme('colors.qrmory-purple-600');
}

.qr-selector.active #selector-descriptor {
    display: none;
}

#selector-content {
    top: 0;

    transition: all 0.3s ease;
}

#selector-block-head.disabled,
#selector-block-foot.disabled {
    cursor: initial;
    color: theme('colors.qrmory-purple-200') !important;
}

#download-button:disabled {
    /*background-color: theme('colors.stone.500') !important;*/
    box-shadow: none;
}
